{{>header}}

        <p>Bienvenido a OpinaComponentes</p>
        <br>
        {{#sesion_iniciada}}
        	<p>Has iniciado sesion como: {{usuario.nombre}}</p>
        	<a href="/cerrar_sesion">Cerrar sesion</a>
        {{/sesion_iniciada}}
        
        {{^sesion_iniciada}}
        	<a href="/login">Iniciar sesion</a>
        {{/sesion_iniciada}}
        <br>
        <p> Categorias:  </p>
        <a href="/procesadores">Procesadores</a>
        <br>
        <a href="/graficas">Tarjetas graficas</a>
        <br>
        <a href="/placas">Placas base</a>
        <br><br>
        <p>Acciones de gestión:</p>
        <a href="/ver_usuarios">Usuarios registrados</a>
    </body>
</html>