{{>header}}

       <p> Esta es el login page </p>

            <form>
                <p>Email: </p>
                <input type="text" name='email'> <br>

                <p>Nombre: </p>
                <input type="text" name='user'> <br>

                <p>Pass: </p>
                <input type="text" name='pass'> <br>

				

               <a href="/usuario"> Login </a> <br>
               <a href="/registro">Registrarse</a>
               

        </form>
    </body> 

    <a href="/">Pagina principal</a>
</html>