{{>header}}

		<form action="/{{categoriaId}}/{{productoId}}/nueva_valoracion" method="post">
			<p>Nota(0-100): <input type='number' name='nota' min='0' step='1' max='100'></p>
			<p>Texto:</p>
			<textarea name='texto' rows="5" cols="40"></textarea>
		    {{#nousuario}}
		        <p style="color:red">Para escribir una reseña, necesita un usuario</p>
		    {{/nousuario}}
			  <input type='submit' value='Aceptar'>
			  <input type="hidden" name="_csrf" value="{{token}}" />
		</form>
	</body>
</html>