{{>header}}


		<p>Nombre: {{producto.nombre}}</p>
		<p>Descripcion: {{producto.descripcion}}</p>
		<p>Precio: {{producto.precio}}</p>
		
		{{#admin}}
		<br>
		<a href="/{{producto.id}}/eliminar">Eliminar producto</a>
		{{/admin}}
		<br>
		<a href="/{{producto.categoria.id}}/{{producto.id}}/nueva_valoracion">Escribir valoracion</a>
		<input type="hidden" name="_csrf" value="{{token}}" />
		<p>Valoraciones de los usuarios:</p>
		<hr>
		{{#valoraciones}}
			<p>Usuario: {{usuario.nombre}}</p>
			<p>Nota: {{nota}}</p>
			<p>{{texto}}</p>
			
			{{#admin}}
			<a href="/valoracion/{{id}}/eliminar">Eliminar valoracion</a>
			{{/admin}}
			<hr>
		{{/valoraciones}}
		<br>
		<a href="/">Pagina principal</a>
	</body>
</html>
