{{>header}}

		<p>Rellene los campos para registrase:</p>
		<form action="/registro" method="post">
			<p>Correo electronico: </p>
			<input type='text' name='email'>
			<p>Nombre de usuario (lo podrán ver otros usuarios):</p>
			<input type='text' name='nombre'>
			<p>Contraseña:</p>
			<input type='password' name='pass'>
			<br>
			{{#faltan_campos}}
				<p style="color:red">Rellene todos los campos</p>
			{{/faltan_campos}}
			
			{{#yaExiste}}
				<p style="color:red">El usuario ya existe</p>
			{{/yaExiste}}
			<br>
			<input type='submit' value='Registrarse'>
		</form>
		<a href="/">Cancelar</a>
    </body>
</html>