{{>header}}

       <p> Esta es el pagina de registro </p>

        <div id="registrarse1">
            <form>
                <label for="nombre">Nombre:</label>
                <input type="contrasena">

              <label for="contrasena">Contrasenia:</label>
<!--             <p><a href="#">Has olvidado la contraseña?</a> -->
                <input type="contrasena">
            <div id="registrarse2">
               <button type= loggear> Guardar usuario</button>
<!--                 <input type="loggear" value="Login"> -->
            </div>
        </form>
        </div>
    </body> 

    <a href="/">Pagina principal</a>
</html>