{{>header}}


		<p>Nombre: {{usuario.nombre}}</p>
     	<p>Email: {{usuario.email}}</p>
		<br>
		
		{{#admin}}
		<a href="/ver_usuarios/{{id}}/eliminar">Eliminar usuario</a>
		{{/admin}}
		
		<br>
		<p>Ha escrito {{numValoraciones}} valoraciones: </p>
        <hr>
        {{#valoraciones}}
        	<p>Producto: {{producto.nombre}}</p>
            <p>Nota: {{nota}}</p>
            <p>Texto: {{texto}}</p>
            <br><hr>
            			
			{{#usuarioresena}}
			<a href="/valoracion/{{id}}/eliminar">Eliminar valoracion</a>
			<hr>
			{{/usuarioresena}}
			
       	{{/valoraciones}}


   		<a href="/">Pagina principal</a>
    </body> 
</html>